<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>local.dlite</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PREFIX</key>
		<string>USER_PREFIX</string>
	</dict>
	<key>Program</key>
	<string>USER_PREFIX/bin/dlite</string>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
